# {{ ansible_managed }}
[template]
src = "ma1sd.yaml.tmpl"
dest = "/etc/ma1sd/ma1sd.yaml"
keys = [
"/ma1sd/hostname",
"/ma1sd/homeserver_internal_uri",
"/ma1sd/synapse_db/endpoint",
"/ma1sd/synapse_db/name",
"/ma1sd/synapse_db/username",
"/ma1sd/synapse_db/password",
"/ma1sd/email/from",
"/ma1sd/email/host",
"/ma1sd/email/port",
"/ma1sd/email/login",
"/ma1sd/email/password",
]
